@import '/src/common/mini-reset.css';

.lion {
  border: 1px solid #000;
  background-color: #000;

  .like {
    border: 1px solid red;
    background-color: yellow;
    position: relative;
    height: 50px;
    left: -5px;
    top: -5px;
  }
}

.bootcamp {
  background-color: aqua;
  position: absolute;
  top: 100px;
  left: 100px;
}

h6 {
  background-color: pink;
}

.box {
  position: relative;
  border: 1px solid blue;
}
