@import url('/src/css/styles/');

:root {
  color-scheme: light dark;
}

body {
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-auto-rows: 18.75rem;
  gap: 1.25rem;
  background: light-dark(#fff, #000);
  color: light-dark(#000, #fff);
}

.case {
  border: 1px solid light-dark(#000, #fff);
  padding: 2.5rem;
}
